.card-slider-item {
  display: flex;
  gap: 10px;
  height: 270px;
}
.card {
  padding: 10px;
}
.card-title,
.card-store-location,
.card-store-time-text {
  margin: 0;
  width: 250px;
}
.card-title {
  margin: 0;
  font-size: 18px;
}

.card-store-map,
.card-store-time {
  display: flex;
  padding: 3px;
}

.card-store-map > svg {
  width: 18px;
  height: 18px;
  margin-left: -3px;
}

.card-store-time > svg {
  margin-right: 2px;
  margin-left: -2px;
  width: 15px;
  height: 16px;
}
